[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    env,
    tests
max-complexity = 10
max-line-length = 120
import-order-style = pep8
application-import-names = asyncaerospike
format = '%(path)s:%(row)d Column:%(col)d: %(code)s %(text)s'
